<!DOCTYPE html>
<html>
<head>
    <title>Criar Conta</title>
</head>

<body>
    <h1>Criar Conta</h1>

    <form method="POST">

        <input type="text" name="cpf" placeholder="CPF do cliente">
        <br>
        <button type="submit">
            Criar conta
        </button>


    </form>

    <br>
    {% if conta_criada %}

    <h2>Conta criada com sucesso!</h2>

    <p>Número da conta: {{ conta_criada["numero"] }}</p>

    <p>
        Cliente:
        {{ conta_criada["cliente"]["nome"] }}
    </p>

    <p>
        CPF:
        {{ conta_criada["cliente"]["cpf"] }}
    </p>

    <p>
        Saldo:
        R$ {{ conta_criada["saldo"] }}
    </p>

    {% endif %}
    
    <a href="/">
        Voltar para a página inicial
    </a>

</body>
</html>
